Introduction to Tuples
Explanation:

Tuples are ordered collections of items that are immutable. They are similar to lists, but their immutability makes them different.

they are python equivalent of arrays

In [1]:
empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [ ]:
lst=list()
print(type(lst))
tpl=tuple()
print(type(tpl))

In [13]:
number = tuple([1,2,3,4,5,6,7,8])
print(number)
number [0:8:2]

(1, 2, 3, 4, 5, 6, 7, 8)

(1, 3, 5, 7)

In [ ]:
mixed = (1,"nid" , 3.14)
print(mixed)
mixed[2]

(1, 'nid', 3.14)

(1, 3.14)

In [21]:
## Tuple Operations

concatenation_tuple=number + mixed
print(concatenation_tuple)

mixed*3

(1, 2, 3, 4, 5, 6, 7, 8, 1, 'nid', 3.14)

(1, 'nid', 3.14, 1, 'nid', 3.14, 1, 'nid', 3.14)

In [20]:

lst=[1,2,3,4,5]
print(lst)

lst[1]="Krish"
print(lst)

number[1]="Krish"

[1, 2, 3, 4, 5]
[1, 'Krish', 3, 4, 5]

TypeError: 'tuple' object does not support item assignment

In [ ]:
numero = (1,2,3,4,5,6)
print(type(numero))
## Tuple Methods
print(numero.count(1))
print(numero.index(4))

<class 'tuple'>
1
3

In [30]:
## Packing and Unpacking tuple
## packing
packed_tuple=1,"Hello",3.14
print(packed_tuple)

##unpacking a tuple
a,b,c=packed_tuple

print(a)
print(b)
print(c)

(1, 'Hello', 3.14)
1
Hello
3.14

In [2]:
numro = (1,2,3,4,5,6)
first,*middle,last=numro
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [ ]:
#nested list

nested_tuple = ((1, 2, 3), ("a", "b", "c"), (True, False))

## access the elements inside a tuple
print(nested_tuple[0])
print(nested_tuple[1][2])

IndentationError: unexpected indent (2089950401.py, line 11)

In [8]:
# iterating over tuples

for sub_tuple in nested_tuple :
    for item in sub_tuple:
        print(item,end=" ")
    print()

1 2 3
a b c
True False